@page
@model SpaceProgramWeb.Pages.OfficerPages.IndexModel
@{
    ViewData["Title"] = "Officer Index Page";
}


<a asp-page="/OfficerPages/Create" class="btn btn-success">Enroll Officer</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rank</th>
            <th>Station Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Officers)
        {
            <tr>
                <td>@item.OfficerId</td>
                <td>@item.Name</td>
                <td>@item.Rank</td>
                <td>@item.SpaceStationId</td>
                <td>
                    <a asp-page="/Edit" asp-route-id=@item.OfficerId class="btn btn-warning">Edit</a>
                    <a asp-page="/Delete" asp-route-id=@item.OfficerId class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>