<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpaceProgram</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bgc-black-2 border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-page="/Index">SpaceProgram</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Request.Cookies["currentUserUsername"] != null && Context.Request.Cookies["currentUserUsername"] != "")
                        {
                            <li class="nav-item ms-2">
                                <a class="nav-link text-white" asp-area="" asp-page="/officer/index">Officers</a>
                            </li>

                            <li class="nav-item ms-2">
                                <a class="nav-link text-white" asp-area="" asp-page="/spacestation/index">Space Stations</a>
                            </li>

                            <li class="nav-item ms-auto">
                                <a class="nav-link right text-white" asp-area="" asp-page="/index">Welcome @Context.Request.Cookies["currentUserUsername"].ToUpper()</a>
                            </li>

                            <li class="nav-item ms-5">
                                <a class="btn bg-dark text-white" asp-page="/disconnect">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bgc-black-2">
        <div class="container text-white text-center">
            &copy; 2023 - SpaceProgram - by Julien Pontbriand
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>