html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #003459;
}

header {
    background-color:#FFE300;
}

.bgcb-1 {
    background-color: #00171f;
}

.bgcb-2 {
    background-color: #003459;
}

.bgcb-3 {
    background-color: #00296b;
}

.bgcb-4 {
    background-color: #003f88;
}

.bgcb-5 {
    background-color: #00509d;
}

.bgcb-6 {
    background-color: #007ea7;
}

.bgcb-7 {
    background-color: #00a8e8;
}

.bgc-gold-1 {
    background-color: #fdc500;
}

.bgc-gold-2 {
    background-color: #ffd500;
}

.bgc-black-1 {
    background-color: rgb(43, 42, 51);
}

.bgc-black-2 {
    background-color: #101010;
}