@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    if (Model.Error != null)
    {
        <div class="alert alert-danger">@Model.Error</div>
    }
}

<div class="text-center">
    <p class="display-6">Welcome to the Home Page!</p>
</div>
