@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
    if (Model.Error != null)
    {
        <div class="alert alert-danger">@Model.Error</div>
    }
}

<div class="text-center text-white mt-lg-5">
    <p class="display-6">Welcome to your Space Program!</p>
</div>

<div class="text-center mt-5 stopDrap">
    <img src="https://cdn.pixabay.com/photo/2018/04/29/13/31/space-3359978_960_720.jpg"
        class="rounded-pill img-fluid animated pulse infinite"
        alt="A ship in space destroying a space station"
</div>